* {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Uchen', serif;
    padding: 0;
    margin: 0;
    
}
.navbar-nav1{
    text-align: center !important;
    font-size: 30px;
    font-style: bold;
    margin: 0 auto;
}